{% extends "base_test.html" %}
{% block title %}
<title>О нас</title>
{% endblock %}
{% block content %}
<ul>
    <h4><u><font color="#4C5866">&#9636; SmartBuild - CRM вебсайт для ваших строительных проектов.</font></u></h4>
    <p><font color="#4C5866">Наш вебсайт предоставляет вам оперативный доступ к информации по передовым компаниям
        строительной сферы :</font></p>
        <ul>
        <li>архитектурные фирмы;</li>
        <li>строительные компании;</li>
        <li>конструкторские бюро;</li>
        <li>компании по производству и продаже строительных материалов;</li>
        <li>и многие другие...</li>
        </ul>
    <br>
    <p><font color="#4C5866">Высококвалифицированные менеджеры сайта помогут вам организовать работу над вашими
        строительными проектами.</font></p>
</ul>
{% endblock %}
