{% extends "base_test.html" %}
{% block title %}
<title>Список ещё не начатых проектов компании</title>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<ul>
    <h3><u><font color="#4C5866">Список ещё не начатых проектов, компании - </font>
        <a href="{{ object.get_absolute_url }}"><font color="#ED760E">{{ company.title  }}</font></a></u></h3>
  <ul><p><a href="/company/{{ company.pk }}/projects/"><strong><font color="#ED760E">&#9665;</strong>
      Список всех проектов компании</font></a></p>
      <hr/>
{% for project in object_list %}
      {% if project.status_pro  == 'Еще не начат' %}
      <li><h4><strong><a href="/company/project/{{ project.pk }}/"><font color="#4C5866">{{ project.name  }}</font></a></strong></h4></li>
      <ul>
          {% if user.is_manager or user.is_admin or user.pk == project.customer.user.pk  %}
          <p>Стоимость проекта - ${{project.price}}</p>
          {% endif %}
          <p>Статус проекта - <u><font color="#228B22">{{ project.status_pro }}</font></u></p>
      </ul>
      <hr>
      {% endif %}
{% endfor %}

{% else %}
<ul><strong><p><font color="red">&#9940; У вас нет доступа к этой странице.</font>
    Пожалуйста, <u><a href="{% url 'login'%}?next={{request.path}}">войдите</a>
    </u> в систему с учетной записью, у которой есть доступ.</p></strong></ul>
{% endif %}
{% endblock %}
