{% extends "base_test.html" %}
{% block title %}
<title>Список взаимодействий компании</title>
{% endblock %}
{% block content %}
{% if user.is_manager or user.is_admin %}
<ul>
    <h3><u><font color="#4C5866">Список взаимодействий компании - </font>
        <a href="{{ object.get_absolute_url }}"><font color="#ED760E">{{ company.title  }}</font></a></u></h3>
  <ul>
      <ul class="nav nav-tabs">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
       href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <font color="#4C5866">Фильтр по каналу связи</font></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/company/{{ company.pk }}/interactions_phones">Телефонные звонки</a>
      <a class="dropdown-item" href="/company/{{ company.pk }}/interactions_email">Переписки по E-mail</a>
        <a class="dropdown-item" href="/company/{{ company.pk }}/interactions_messenger">Переписки в мессенджере</a>
    </div>
  </li>
</ul>
      <br>
{% for interaction in object_list %}
    <ul>
    <li><h4><strong><a href="/interaction/{{interaction.pk}}"><font color="#4C5866">{{ interaction.channel_of_reference }}</font>
            </a></strong></h4></li>
        <ul>
          <p>&#10000; Проект - {{ interaction.project }}</p>
          <p>&#9734; Проект компании - {{ interaction.project.company }}</p>
          <p>&#11078; Менеджер - <u>{{ interaction.user.first_name }} {{ interaction.user.last_name }}</u></p>
          <p>Дата создания записи - {{ interaction.created_date|date:'d.m.Y' }}</p><hr/>
        </ul>
    </li>
    </ul>
{% endfor %}
{% else %}
<ul><strong><p><font color="red">&#9940; У вас нет доступа к этой странице.</font>
    Пожалуйста, <u><a href="{% url 'login'%}?next={{request.path}}">войдите</a>
    </u> в систему с учетной записью, у которой есть доступ.</p></strong></ul>
{% endif %}
{% endblock %}
