{% extends "base_test.html" %}
{% block title %}
<title>Редактировать запись о взаимодействии</title>
{% endblock %}
{% block content %}
<ul>
{% if user.is_manager and user == interaction.user or user.is_admin%}
    <h4><u><font color="#4C5866">Редактировать запись о взаимодействии</font></u></h4>
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.text | safe }}
    {{ form.media }}
    {{ form.as_table }}
    <br/><br>
    </table>
    <button type="submit" class="btn btn" style="background-color: #4C5866;"><font color="#EFA94A">Сохранить</font></button>

</form>

{% else %}
<ul><strong><p><font color="red">&#9940; У вас нет доступа к этой странице.</font>
    Пожалуйста, <u><a href="{% url 'login'%}?next={{request.path}}">войдите</a>
    </u> в систему с учетной записью, у которой есть доступ.</p></strong></ul>
{% endif %}
</ul>
{% endblock %}
